.wrapper {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
  }
  
  .sidebar {
    grid-area: sidebar;
    grid-column: 1;
    grid-row: 1;
    width: 280px;
    height: 100%;
    background-color: #121212;
  }
  
  .mainContent {
    grid-area: mainContent;
    grid-column: 2/5;
    grid-row: 1;
    width: 100%;
    background-color: #212121;
    /*overflow-y: scroll;*/
    display: flex;
    flex-direction: column;
  }

  .sidebar-logo {
    width: 210px;
    margin: 35px;
  }

  .form-control {
    width: 250px; 
    height: 25px;
    margin-left: 35px;
    margin-top: 35px;
  }

  .searchResults {
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 220px)
  }

  .lyricsToggle {
    all: unset;
    color: white;
    font-size: 3em;
    margin:0 auto;
    display: block;
    cursor: pointer;
    border: #555555;
  }

  .toggle {
    height: 30px;
    margin-top: 0px;
  }

  .activeKaraoke {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #5D3FD3;
    background-color: #5D3FD3;
    color: #eeeeee;
    margin-left: 10px;
    cursor: pointer;
    display: block;
    margin:0 auto;
  }

  .inactiveKaraoke {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background-color: #333;
    color: #eeeeee;
    margin-left: 10px;
    margin-top: 50px;
    cursor: pointer;
    display: block;
    margin:0 auto;
  }
  