.karaoke {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #212121;
}

.lrc {
  color: #343434;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #212121;
}
