nav {
    
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  
  nav ul {
    list-style:none;
    display: flex;
    margin: 0;
    padding: 0;
    
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #cc5151b3;
    text-decoration: none;
  }

  nav ul li a:hover{
    color: red;
  }
  
  