nav {
    display: inline-block;
    text-align: right;
    align-items: right;
    padding: 10px;
  }
  
  nav ul {
    list-style:none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: right;
    
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #eeeeee;
    text-decoration: none;
  }

  nav ul li a:hover{
    color: #5D3FD3;
  }

  .navbar {
    height: 80px;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
  }

  .form-control {
    margin-right: auto;
    display: inline-block;
  }

  .searchBar {
    /*background-color: #5D3FD3;*/
    
  }

  .searchBar input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #5D3FD3;
    padding-left: 10px;
  }

  .searchBar button {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #5D3FD3;
    background-color: #5D3FD3;
    color: #eeeeee;
    margin-left: 10px;
  }

  .menu {
    /*background-color: aquamarine;*/
    justify-content: center;
    padding-top: 30px;
  }