.sidebar {
  grid-column: 1;
  grid-row: 1;
  background-color: #212121;
}

.album-art {
  height: 280px;
  width: 280px;
  position: absolute;
  margin-bottom: 50px;
  bottom: 0;
  left: 0;
}

.player-controls {
  width: 280px;
  height: 50px;
  background-color: #555555;
  position: absolute;
  bottom: 0;
  left: 0;
}

.playlists {
  margin-left: 35px;
  color: #eeeeee;
  overflow-y: auto;
}

p:hover {
  color: #5D3FD3;
}
